{% extends 'harrispierce/shared/base_loggedin.html' %}

{%block blockname %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <h2>People you follow</h2>
                <ul id="following_list">
                    <script>
                    {% for friends_followed in following %}
                        $('#following_list').append(
                            "<li class='following'>oj</li>"
                        )
                    {% endfor %}
                    </script>
                </ul>
            </div>
            <div class="col-xs-6">
                <h2>Your followers</h2>
            </div>
        </div>
    </div>

{% endblock %}
