{% extends 'harrispierce/shared/base_loggedin.html' %}

{%block blockname %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <h2>People you follow</h2>
                <ul id="following_list">
                    <script>
                    {% for friends_followed in following %}
                        $('#following_list').append(
                            "<li class='following'>{{ friends_followed.username }}</li>"
                        )
                    {% endfor %}
                    </script>
                </ul>
            </div>
            <div class="col-xs-4">
                <h2>Your friends</h2>
                <ul id="friend_list">
                    <script>
                    {% for friend in friends %}
                        $('#friend_list').append(
                            "<li class='following'><strong>{{ friend.username }}</strong></li>"
                        )
                    {% endfor %}
                    </script>
                </ul>
            </div>
            <div class="col-xs-4">
                <h2>Your followers</h2>
                <ul id="follower_list">
                    <script>
                    {% for follower in followers %}
                        $('#follower_list').append(
                            "<li class='following'>{{ follower.username }}</li>"
                        )
                    {% endfor %}
                    </script>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
