<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Harris & Pierce</title>
    {% load staticfiles %}
    <!--<link rel="stylesheet" type="text/css" href="{% static 'harrispierce/style.css' %}" />-->
</head>
<body>
    <nav class="navbar">
        <div class="navbar-header">
            <div id="moto" onclick="window.location.href='{% url 'index' %}'">Harris <br>&<br> Pierce</div>
            <span class="icon-bar"></span>

            <button
                    type="button"
                    class="navbar-toggle"
                    onclick="window.location.href='{% url 'search_form' %}'">
                Search
            </button><br>
            <div>
                Logged in as {{request.user.username}}
            </div><br>
            <button
                    id = "new_user"
                    onclick="window.location.href='{% url 'index' %}'">
                LOGOUT
            </button><br>
            <HR>
        </div>
    </nav>

    {% block blockname %}
    {% endblock %}

    {% block contentblock %}
    {% endblock %}

</body>
</html>