{% extends 'harrispierce/base.html' %}

{%block blockname %}
    <div>INDEX</div><br>
    <form action="" method="post">
        {% for journal in journals %}
            <h1 class="journal">{{ journal.name }}</h1>
            {% for section in journal.sections.all %}
                <!--<h2 class="journal">{{section.name}}</h2>-->
                <input type="checkbox" class="section" name="selection" value="{{journal.name}}-{{section.name}}">
                    <label>{{ section.name }}</label>
            {% endfor %}
        {% endfor %}
        <input type="submit" value="Let's Go!" onclick="window.location.href='{% url 'display' %}'">
    </form>

    <!--<button id = "display" onclick="window.location.href='{% url 'display' %}'">Lets Go</button><br>-->
{% endblock %}