<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Harris & Pierce</title>
    {% load staticfiles %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'style3.css' %}">

</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'index' %}" class="navbar-brand">Harris & Pierce</a>
            </div>

            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'index' %}">About</a></li>
                    <li><a href="{% url 'index' %}">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'new_user' %}">New User</a></li>-->
                    <!--<li><a href="{% url 'login' %}" data-toggle="modal" data-target="#login_popup">Login</a></li>
                    <li><a href="{% url 'new_user' %}" data-toggle="modal" data-target="#newuser_popup">New User</a></li>-->
                </ul>
            </div>
        </div>
    </nav>

    {% block blockname %}
    {% endblock %}

    {% block contentblock %}
    {% endblock %}


    <!-- popup window for login -->
    <div class="modal fade" id="login_popup" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                    <div class="modal-body">

                    </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <!-- popup window for new user -->
    <div class="modal fade" id="newuser_popup" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                    <div class="modal-body">

                    </div>
                <div class="modal-footer">
                </div>
            </div>

        </div>

    </div>

</body>
</html>