

<div class="container-fluid">
    <h2 id="selection">Your Selection</h2>
        <div class="row" >
            <div id="alert" class="alert alert-success" role="alert"><strong>Saved to your reading list.<strong></div>
            <div id="sticky-list">
                <script>
                    {% for journal, article_selection in selection_dict.items %}
                        $('#sticky-list').append(
                            "<div class='journal'><h3 class= 'journal_name' id={{ journal|cut:' ' }}><label>{{ journal }}</label></h3></div>"
                        );
                        {% for section, article_list in article_selection.items %}
                             $('#{{ journal|cut:" " }}').append(
                                "<h4 class='section' id={{ journal|cut:" " }}{{ section|cut:" " }}><label>{{ section }}</label></h4>"
                            )
                            {% for article in article_list %}
                                $('#{{ journal|cut:" " }}{{ section|cut:" " }}').append(
                                    "<div class='article' id='{{ article.pk }}'><a href='{{ article.href }}' target='_blank'>{{ article.title }}</a><p class='teaser'>{{ article.teaser }}</p></div>"
                                )
                                {% if article.image != 'void' %}
                                    $('#{{ article.pk }}').append(
                                        "<img src = '{{ article.image }}' class='img-responsive' alt='Responsive image'>"
                                    )
                                    {% if user.is_authenticated %}
                                        $('#{{ article.pk }}').append(
                                        "<div class='row'><div class='col-md-12 col-sm-12 col-xs-12'>\
                                        <form action='' method='POST' class='pin_badge' id='pin_form{{ article.pk }}'>{% csrf_token %}<button type='submit' class='badge_button'><div class='badge'><span class='glyphicon glyphicon-pushpin' aria-hidden='true'></span></div></button></form>\
                                        <form class='article_badges'><button type='submit' class='badge_button'><div class='badge'><span class='glyphicon glyphicon-send' aria-hidden='true'></span></div></button></form>\
                                        <form class='article_badges'><button type='submit' class='badge_button'><div class='badge'><span class='glyphicon glyphicon-thumbs-up' aria-hidden='true'></span></div></div></button></form>"
                                        )

                                        $(document).on('submit','#pin_form{{ article.pk }}', function(e) {
                                            e.preventDefault();

                                            $.ajax({
                                                type: 'POST',
                                                url: '{% url "userprofile:pin" %}',
                                                data: {
                                                    journal: '{{ journal }}',
                                                    section: '{{ section }}',
                                                    article: {{ article.pk }},
                                                    csrfmiddlewaretoken: '{{ csrf_token }}'
                                                },
                                                success: function showAlert() {
                                                    $("#alert").show().delay(2000).fadeOut();
                                                }
                                            });
                                        });

                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}


                    button = $('<button class = "btn btn-primary btn-lg btn-block">Go back to Index</button>');
                    button.click(function () {
                      window.location.href='{% url 'index_perso' %}';
                    });
                    $('#sticky-list').append(
                        button
                    )

                </script>
        </div>
    </div>
</div>

