
<div id="alertlike" class="alert alert-success" role="alert"><strong>Your followers will surely check what you like!<strong></div>
<div id="alertpin" class="alert alert-success" role="alert"><strong>Saved to your reading list.<strong></div>
<div class="container-fluid">
    <h2 id="selection">Your Selection</h2>
        <div class="row" >
            <div id="sticky-list">
                <script>
                    {% for journal, article_selection in selection_dict.items %}
                        $('#sticky-list').append(
                            "<div class='journal'><h3 class= 'journal_name' id={{ journal.name|cut:' ' }}><label>{{ journal.name }}</label></h3></div>"
                        );
                        {% for section, article_list in article_selection.items %}
                             $('#{{ journal.name|cut:" " }}').append(
                                "<h4 class='section' id={{ journal.name|cut:" " }}{{ section.name|cut:" " }}><label>{{ section.name }}</label></h4>"
                            )
                            {% for article in article_list %}
                                $('#{{ journal.name|cut:" " }}{{ section.name|cut:" " }}').append(
                                    "<div class='article' id='{{ article.pk }}'><a href='{{ article.href }}' target='_blank'>{{ article.title }}</a><p class='teaser'>{{ article.teaser }}</p></div>"
                                )
                                {% if article.image != 'void' %}
                                    $('#{{ article.pk }}').append(
                                        "<img src = '{{ article.image }}' class='img-responsive' alt='Responsive image'>"
                                    )
                                    {% if user.is_authenticated %}
                                        $('#{{ article.pk }}').append(
                                        "<div class='row'><div class='col-md-12 col-sm-12 col-xs-12'>\
                                        <form action='' method='POST' class='article_badges' id='pin_form{{ article.pk }}'>{% csrf_token %}<button type='submit' class='badge_button'><div class='badge'><span class='glyphicon glyphicon-pushpin' aria-hidden='true'></span></div></button></form>\
                                        <form action='' method='POST' class='article_badges' id='send_form{{ article.pk }}'>{% csrf_token %}<button type='submit' class='badge_button'><div class='badge'><span class='glyphicon glyphicon-send' aria-hidden='true'></span></div></button></form>\
                                        <form action='' method='POST' class='article_badges' id='like_form{{ article.pk }}'>{% csrf_token %}<button type='submit' class='badge_button'><div class='badge'><span class='glyphicon glyphicon-thumbs-up' aria-hidden='true'></span></div></div></button></form>"
                                        )

                                        {% include 'harrispierce/shared/badge_form_function.html' %}

                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}

                </script>
        </div>
    </div>
</div>

