

<div class="container-fluid">
<h2> Make your selection.</h2><hr>
    <div class="row" >
        <div id="parent_element">
            <script>
                {% for journal in journals %}
                    $('#parent_element').append(
                        '<div class="container" id="{{ journal.name|cut:' ' }}"><h2>{{ journal.name }}</h2></div><hr>'
                    )
                    {% for section in journal.sections.all %}
                            $('#{{ journal.name|cut:' ' }}').append(
                                '<input id="{{ journal.name|cut:' ' }}{{ section.name }}" type="checkbox" class="section_cb" name="selection" value="{{journal.name}}-{{section.name}}">'
                            )
                            {% if journal.id in choices.journal and section.id in choices.section %}
                                $('#{{ journal.name|cut:' ' }}{{ section.name }}').attr('checked', true)
                            {% endif %}

                            $('#{{ journal.name|cut:' ' }}').append(
                                '<label for="{{ journal.name|cut:' ' }}{{ section.name }}">{{ section.name }}</label>'
                            )

                    {% endfor %}
                {% endfor %}
                $('#parent_element').append(
                    "<input class='btn btn-primary btn-lg btn-block' type='submit' value='Go!'>"
                )
            </script>
        </div>
    </div>
</div>
