{% extends 'harrispierce/shared/base_loggedin.html' %}

{%block blockname %}
<div class="container-fluid">
    <h2 id="selection">Your Search</h2>
        <div class="row" >
            <div id="sticky-list">
                <script>
                    {% for journal, article_selection in selection_dict.items %}
                        $('#sticky-list').append(
                            "<div class='journal'><h3 class= 'journal_name' id={{ journal|cut:' ' }}><label>{{ journal }}</label></h3></div>"
                        );
                        {% for article in article_selection %}
                            $('#{{ journal|cut:" " }}').append(
                                "<div class='article'><a href='{{ article.href }}' target='_blank'>{{ article.title }}</a><p class='teaser'>{{ article.pub_date }}<br>{{ article.teaser }}</p><img src = '{{ article.image }}' class='img-responsive' alt='Responsive image'></div>"
                            )
                        {% endfor %}
                    {% endfor %}

                    button = $('<button class = "btn btn-primary btn-lg btn-block">Go back to Index</button>');
                    button.click(function () {
                      window.location.href='{% url 'index_perso' %}';
                    });
                    $('#sticky-list').append(
                        button
                    )
                </script>
        </div>
    </div>
</div>
<button id = "go_back" onclick="window.location.href='{% url 'index_perso' %}'">Go back to Index</button><br>
<button id = "login" onclick="window.location.href='{% url 'display_perso' %}'">Go back to Selection</button><br>
{% endblock %}